
/*
Theme Name:NEXCORE
Theme URI: http://underscores.me/
Author: Hudson Carolino
Author URI: http://hudsoncarollino.com.br
Description: NEXCORE.
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: NEXCORE.COM.BR
Tags:

--------------------------------------------
ESTRUTURAÇÃO BASE (Hudson Framework v1)
--------------------------------------------
*** BODY
**** TOPO
**** RODAPÉ
**** COPYRIGHT
**** ESTILOS GERAIS PARA AS PÁGINAS
**** ESTILOS GERAIS PARA AS PÁGINAS INTERNAS
**** PÁGINA INICIAL
**** PÁGINAS INTERNAS
**** EXTRAS
**** BOTÕES
**** @MEDIA
*/
*{
	margin: 0;
	padding: 0;
}
body{
    font-family: 'Roboto', sans-serif;
}

a{
	text-decoration: none;
}

/* TOPO */
	.topo{
		border-top: solid 3px #6f1d20;
		background: #fafafa;
		position: relative;
		z-index: 9999;
	}
		 .topo .border_bottom{
			position: relative;
		 }
			 .topo .border_bottom img{
			 	display: block;
			 	width: 100%;
			 	height: auto;
			 	position: absolute;
			 	bottom: -33px;
			} 
		.topo .logo{
		    margin-top: 40px;
		}
			.topo .logo img{
				max-width: 220px;
				display: block;
			 	width: 100%;
			 	height: auto;
				margin:  auto;

			}
		.topo .contato{
			background: #8e121a;
			max-width: 525px;
		    border-radius: 0 0 10px 10px;
		    position: relative;
		    margin-bottom: 20px;
	        border-bottom: solid 1px #b68e8e;
	        border-left: solid 1px #b68e8e;
	        border-right: solid 1px #b68e8e;
		}
			.topo .contato .icone{
				position: absolute;
				left: 0;
				top: 0;
				z-index: 99;
				padding: 3px 25px;
				background: #691216;
				color: #ff4754;
				font-size: 20px;
				border-radius: 5px 0 0 7px;
			}
				.topo .contato .icone i{

				}
			.topo .contato .numeros{
				text-align: center;
			}
			.topo .contato .contatoSP{
				width: 100%;
				max-width: 209px;
				float: right;
				display: block;
				z-index: 99;
				position: relative;
			}
				.topo .contato .contatoSP span{
					color: #fff;
					font-weight: 300;
					border-radius: 0 0 10px 10px;
					background: #8e121a;
					padding: 7px 7px 9px;
					display: block;
					font-size: 13px;
					text-transform: uppercase;
				}
			.topo .contato .contatoCWB{

			}
				.topo .contato .contatoCWB span{
					color: #fff;
					font-weight: 300;
					background: #b31324;
					display: block;
					font-size: 13px;
					padding: 7px;
					border-radius: 10px 0 10px 10px;
					text-transform: uppercase;
				}
		.topo .navbar{
			border: none;
			margin: 0;
		}
			.topo .navbar button{
				border: solid 1px #870700;
				display: none;
			}
				.topo .navbar button span{
					background: #870700;
				}
			.topo .navbar .navbar-header{
				width: 100%;
				float: inherit;
			}
				.topo .navbar .navbar-header nav{

				}
					.topo .navbar .navbar-header nav .navbar-nav{
						float: inherit;

					}
						.topo .navbar .navbar-header nav .navbar-nav>li{
						    float: inherit;
						    display: inline-block;
						    position: relative;
						}
							.topo .navbar .navbar-header nav .navbar-nav>li a{
								color: #7c7c7c;
								font-weight: 400;
								font-size: 13px;
								text-transform: uppercase;
								border-bottom: solid 3px transparent;
							}
								.topo .navbar .navbar-header nav .navbar-nav>li a:hover{
									background: transparent;
									border-color: #ac1c1b;
								}
			.sub{
				top: 53px;
				left: 0;
				width: 270px;
				background: rgba(145, 9, 19, 0.8);
				padding: 15px 20px 10px 20px;
				position: absolute;
				list-style: none;
				z-index: 99;
			}
				.sub li{
					width: 100%;
					margin: 0;
					float: left;
					font-size: 13px;
					line-height: 28px;
					text-transform: uppercase;
				}
					.sub li a{
						width: 100%;
						float: left;
						text-align: left;
						padding: 0 10px;
						font-size: 12px!important;
						color: #fafafa!important;
						line-height: 28px;
						border: 0;
						font-weight: 300;
					}
						.sub li a:hover{
							color: #76070b!important;
							background: #fafafa!important;
							border: transparent!important;
							text-decoration: none!important;

						}
						.compare_menu a{
							background: rgba(25, 25, 25, 0.8)!important;
						}
					ul{
						
					}
			.sub-produtos {
			    width: 440px;
			    padding: 15px;
			    background: rgba(145, 9, 19, 0.8) !important;
			}
				.sub-produtos ul{
					list-style: none;
					width: 49%;
					padding: 0 0 0 5px;
					display: inline-block;
					vertical-align: top;
				}
					.sub-produtos ul li{
						width: 100%;
						margin: 0;
						float: left;
						font-size: 13px;
						line-height: 28px;
						text-transform: uppercase;
						font-weight:300;
					}
				.sub-produtos ul li span{
					 width: calc(100% - 16px);
					float: left;
					margin: 0 16px 0 0;
					color: #fafafa;
					border-bottom: solid 1px #ff484d;
					height: auto;
					padding: 0;
					margin-bottom: 10px;
					font-weight:300;
					font-size: 13px;

				}
				.sub-produtos ul li a:hover{
					color: #76070b!important;
					background: #fafafa!important;
					border: transparent!important;
					text-decoration: none!important;

				}
/* RODAPÉ */
	.rodape{
		background:#222222;
		padding-top: 100px;
		position: relative;
	}
		.rodape .container{
			width: 100%;
			padding: 20px;
		}
		.rodape .areaLogoCOntato{

		}
			.rodape .areaLogoCOntato .logo{
				margin-bottom: 40px;
			}
				.rodape .areaLogoCOntato .logo img{

				}
			.rodape .areaLogoCOntato .areaContato{
				border: solid #fff 1px;
				border-radius: 20px;
				height: 90px;
				text-align: center;
				max-width: 255px;
				margin: 0 0 35px;
			}
				.rodape .areaLogoCOntato .areaContato h2{
					height: 45px;
					border-radius: 20px;
					margin: 0;
					background: #8b1517;
					color: #fff;
					font-size: 13px;
					font-weight: 600;
					line-height: 40px;
					position: relative;
					bottom: 10px;

				}
				.rodape .areaLogoCOntato .areaContato p{
					color: #fff;
				}
					.rodape .areaLogoCOntato .areaContato p i{

					}
		.rodape .menuRodape{

		}
			.rodape .menuRodape .nav{

			}
				.rodape .menuRodape .nav> a{
					color: #fff;
					font-size: 13px;
					text-transform: uppercase;
					font-weight: 300;
					padding-left: 10px;
					margin-bottom: 12px;
					display: inline-block;
					text-decoration: none;
				}
				.rodape .menuRodape .nav strong{
					color: #fff;
					font-size: 15px;
					text-transform: uppercase;
					font-weight: 600;
					padding-left: 10px;
					margin: 12px 0;
					display: inline-block;
				}
				.rodape .menuRodape .nav ul{
					padding: 0;
					list-style: none;
					border-left: solid 1px #fff;
					padding-left: 10px;
					margin: 0;
				}
					.rodape .menuRodape .nav ul li{
					
					}
						.rodape .menuRodape .nav ul li a{
							color: #fff;
							text-transform: uppercase;
							font-size: 11px;
						}
		.rodape .segueRedes{
			position: absolute;
			bottom: 25px;
			right: 80px;
		}
			.rodape .segueRedes p{
				color: #747272;
				text-transform: uppercase;
				font-weight: 700;
				display: inline-block;
			    margin-right: 10px;
			}	
			.rodape .segueRedes a{
				text-decoration: none;
			}
			.rodape .segueRedes a i{
				color: #747272;
				display: inline-block;
				border: solid 1px;
				border-radius: 100%;
				font-size: 18px;
				width: 35px;
				height: 35px;
				text-align: center;
				line-height: 35px;
				margin: 0 5px;
			}

/* COPYRIGHT */
	.copyright{

	}

/* PG */
	.pg .conteudos .praticasSucesso {
		    text-align: center;
		    background: #a7b6c1;
        	border-radius: 20px;
        	width: 100%;
        	max-width: 245px;
            min-height: 240px;
            margin-bottom: 55px;
            padding-bottom: 10px;
	}	
		.pg .conteudos .praticasSucesso img {
			width: 100%;
			max-width: 100px;
			height: auto;
			margin: 20px auto;
		}
		.pg .conteudos .praticasSucesso h6 {
			margin: 0;
			color: #333338;
   			font-size: 20px;
   			font-weight: 600;
		}
		.pg .conteudos .praticasSucesso p {
			margin: 0;
			font-size: 13px;
    		color: #484f5c;
			margin-bottom: 15px;

		}
		.pg .conteudos .praticasSucesso a {
			display: inline-block;
		    padding: 7px 30px;
		    background: #f7674f;
		    color: #fff;
		    border-radius: 5px;
		    text-transform: uppercase;
		    font-size: 13px;
		}

	.pg .conteudos .assinarBlog {
		text-align: center;
	    background: #ccc;
    	border-radius: 20px;
    	width: 100%;
    	max-width: 244px;
        min-height: 144px;
        padding-top: 15px;
        border: solid 2px transparent;

	}
		.pg .conteudos .assinarBlog:hover{
			border-color: #8fa9b7;
			background: #f2f2f2;
		}
		.pg .conteudos .assinarBlog p {
			color: #515151;
			margin: 0;
			text-transform: uppercase;

		}
			.pg .conteudos .assinarBlog .enviar {
			    width: 100%;
                max-width: 185px;
    		    min-height: 68px;
    		    margin: 15px auto;
			}	
				.pg .conteudos .assinarBlog input[type="text"]{
					width: 100%;
				    min-height: 30px;
				    border-radius: 8px;
				    border: none;
				    background: #f2f2f2;
				    padding-left: 10px;
				    outline: none;


				}
					.pg .conteudos .assinarBlog:hover input[type="text"]{
						background: #fff;
					}
					.pg .conteudos .assinarBlog input[type="text"]::-webkit-input-placeholder { /* Chrome, Safari, Opera */
					  color: #a9a3a4;
					  font-size: 10px;
					  
					}
					 
					.pg .conteudos .assinarBlog input[type="text"]::-moz-placeholder { /* Firefox 18- */
					  color: #a9a3a4;
					  font-size: 10px;					  
					  opacity: 1;
					}
					 
					.pg .conteudos .assinarBlog input[type="text"]::-moz-placeholder {  /* Firefox 19+ */
					  color: #a9a3a4;
					  font-size: 10px;
					  opacity: 1;
					}
					 
					.pg .conteudos .assinarBlog input[type="text"]:-ms-input-placeholder { /* IE10+ */ 
					  color: #a9a3a4;
					  font-size: 10px;				  
					   
					}
				.pg .conteudos .assinarBlog input[type="submit"]{
					background: #7999aa;
				    border: none;
				    border-radius: 6px;
				    width: 100%;
				    min-height: 26px;
				    max-width: 120px;
				    font-size: 13px;
				    color: #fff;
				    text-transform: uppercase;
				    float: right;
                    margin: 12px 0 24px 0;
                    outline: none;	
                    border: solid 2px transparent;			   
				}
					.pg .conteudos .assinarBlog:hover input[type="submit"]{
						border-color: #8fa9b7;
						background: #fff;
						color: #8fa9b7;
					}

				.pg .conteudos .assinarBlog .iconeSubmit{
					position: relative;
					transition:All .5s ease;
					-webkit-transition:All .5s ease;
					-moz-transition:All .5s ease;
					-o-transition:All .5s ease;
				}
				.pg .conteudos .assinarBlog .iconeSubmit i{
					position: absolute;
					font-size: 24px;
					top: 12px;
					color: #8fa9b7;
					transition:All .5s ease;
					-webkit-transition:All .5s ease;
					-moz-transition:All .5s ease;
					-o-transition:All .5s ease;
			    }

    /* VEJA MAIS */
	.pg .vejaMais{

	} 
		.pg .vejaMais a{
			display: block;
		    margin: 0 auto;
		    width: 100%;
		    background: #f2f2f2;
		    color: #9a9999;
		    border-radius: 5px;
	   		font-size: 15px;
		    max-width: 350px;
		    min-height: 46px;
		    text-align: center;
		    padding-top: 14px;
		    transition:All .5s ease;
		    -webkit-transition:All .5s ease;
		    -moz-transition:All .5s ease;
		    -o-transition:All .5s ease;
		}
			.pg .vejaMais a:hover{
				background: #7999aa;
				color: #fff;
				transition:All .5s ease;
				-webkit-transition:All .5s ease;
				-moz-transition:All .5s ease;
				-o-transition:All .5s ease;
			}
    /* NEWS LLATER */
	.pg .newsllater{
			background: #ccc;
    	    border-top: 6px solid;
    	    transition:All .5s ease;
    	    -webkit-transition:All .5s ease;
    	    -moz-transition:All .5s ease;
    	    -o-transition:All .5s ease;

	}
		.pg .newsllater:hover{
			border-color: #7b9bab;
			background: #f2f2f2;
			transition:All .5s ease;
			-webkit-transition:All .5s ease;
			-moz-transition:All .5s ease;
			-o-transition:All .5s ease;
		}
		.pg .newsllater .noticia {

		}
			.pg .newsllater .noticia h5{

				margin: 0;
				margin-top: 50px;
				color: #333333;
				font-size: 30px;
				font-weight: 600;
			}
			.pg .newsllater .noticia p{
				margin: 2px 0;
				color: #6c6d74;
				font-size: 15px;
			}	
			.pg .newsllater .noticia .enviar {
				position: relative;
			    width: 100%;
                max-width: 955px;
    		    min-height: 40px;
    		    margin: 40px 0 60px 0;
			}	
				.pg .newsllater .noticia input[type="text"]{
					width: 100%;
				    min-height: 40px;
				    border-radius: 8px;
				    border: none;
				    background: #f2f2f2;
				    padding-left: 35px;
				    outline: none;
			}
				.pg .newsllater:hover input[type="text"]{
					background: #fff;
				}
					.pg .newsllater .noticia input[type="text"]::-webkit-input-placeholder { /* Chrome, Safari, Opera */
					  color: #a9a3a4;
					  
					}
					 
					.pg .newsllater .noticia input[type="text"]::-moz-placeholder { /* Firefox 18- */
					  color: #a9a3a4;
					  
					  opacity: 1;
					}
					 
					.pg .newsllater .noticia input[type="text"]::-moz-placeholder {  /* Firefox 19+ */
					  color: #a9a3a4;
					  
					  opacity: 1;
					}
					 
					.pg .newsllater .noticia input[type="text"]:-ms-input-placeholder { /* IE10+ */ 
					  color: #a9a3a4;
					   
					}

				.pg .newsllater .noticia input[type="submit"]{
					background: #7999aa;
				    border: none;
				    border-radius: 6px;
				    width: 100%;
				    min-height: 40px;
				    max-width: 170px;
				    font-size: 20px;
				    color: #fff;
				    text-transform: uppercase;
				    position: absolute;
				    top: 0;
				    right: 0;
				    outline: none;
				    border: solid 2px transparent;
				}	
					.pg .newsllater:hover input[type="submit"]{
						border-color: #7999aa;
						color: #7999aa;
						background: #fff;
					}
	.pg .categoriasPesquisa{
		width: 100%;
		min-height: 68px;
		background: #f2f2f2;
	}
		.pg .categoriasPesquisa .menu{
			position: relative;
			padding-top: 17px;
		}
			.pg .categoriasPesquisa .menu p{
				min-height: 40px;
				border: solid 2px transparent;
				border-radius: 10px;
				background: transparent;
				text-align: center;
				line-height: 35px;
				font-weight: 600;
				color: #a6a6a6;
				cursor: pointer;
				margin: 0 auto;
				font-size: 17px;
				display: inline-block;
				padding: 0 20px;
			}
				.pg .categoriasPesquisa .menu p i{
					font-size: 28px;
					margin-left: 8px;
					vertical-align: middle;
				}
				.pg .categoriasPesquisa .menu p:hover{
					border-color: #97afbc;
					background: #fff;
					color: #97afbc;
					
				}
			.pg .categoriasPesquisa .menu .drop{
				width: 100%;
				max-width: 235px;
				background: #f2f2f2;
				position: absolute;
				z-index: 9;
				display: none;
				-webkit-box-shadow: 5px 5px 12px -5px rgba(0,0,0,0.75);
				-moz-box-shadow: 5px 5px 12px -5px rgba(0,0,0,0.75);
				box-shadow: 5px 5px 12px -5px rgba(0,0,0,0.75);
			}
				.pg .categoriasPesquisa .menu .drop a{
					display:block;
					height: 52px;
					text-decoration: none;
					font-size: 15px;
				    padding: 15px 15px 0;
				    color: #a6a6a6;
				    border-bottom:solid #a6a6a6 2px; 
				}
					.pg .categoriasPesquisa .menu .drop a:hover{
						background: #7999aa;
					    color: #fff;
					    border-color: #7999aa; 
					}
				.pg .categoriasPesquisa .menu .drop a:last-child{
					border: none;
				}
				
					.pg .categoriasPesquisa .menu .drop a h2{
						font-size: 15px;
						margin: 0;
					}
				.pg .categoriasPesquisa .areaPesquisa{
					width: 100%;
					max-width: 300px;
					display: block;
					height: 40px;
					border-radius: 10px;
					background: #fff;
					position: relative;
					float: right;
					margin-right: 42px;
					margin-top: 15px;

				}
					.pg .categoriasPesquisa .areaPesquisa input[type="text"]{
						border: none;
						border-radius: 10px;
						background: #fff;
						color: #9a9a9a;
						padding: 10px;
						width: 100%;
						outline: none;
					}
					.pg .categoriasPesquisa .areaPesquisa input[type="submit"]{
						font-family: FontAwesome;
						background: transparent;
						border: none;
						color: #9a9a9a;
						outline: none;
						font-size: 27px;
						position: absolute;
						right: 12px;
						top: 0;

					}
	
/* PÁGINA INICIAL */
	.pg-inicial{

	}
		.pg-inicial .sessaocarrosselDestaque{

		}
			.pg-inicial .sessaocarrosselDestaque h6{

			}
			.pg-inicial .sessaocarrosselDestaque .carrosselDestaque{

			}
				.pg-inicial .sessaocarrosselDestaque .carrosselDestaque .item{

				}
					.pg-inicial .sessaocarrosselDestaque .carrosselDestaque .item img{
						display: block;
						width: 100%;
						max-width: 100%;
						max-height: 400px;
					}	
		.pg-inicial .categoriasPesquisa{

		}
		.pg-inicial .conteudos{
			margin-top: 55px;
			margin-bottom: 70px;

		}
			.pg-inicial .conteudos h6{

			}
			.pg-inicial .conteudos .conteudo{

			}
				.pg-inicial .conteudos .conteudo .post{
					display: block;
					width: 100%;
					max-width: 644px;
					min-height: 175px;
					border-bottom: 2px solid;
   				    border-color: rgba(165, 165, 165, 1);
   				    padding-top: 55px;
			        padding-bottom: 30px;

				}
					.pg-inicial .conteudos .conteudo .post:hover{

					}
				.pg-inicial .conteudos .conteudo .post:first-child{
 				    padding-top: 0 ;
				}
				.pg-inicial .conteudos .conteudo .post:last-child{
					border-bottom: none;

				}

					.pg-inicial .conteudos .conteudo .post a{

					}
						.pg-inicial .conteudos .conteudo .post a .imagem{
							margin: 0px 30px 37px 0px;
							border: solid 2px transparent;
							transition:All .5s ease;
							-webkit-transition:All .5s ease;
							-moz-transition:All .5s ease;
							-o-transition:All .5s ease;
							max-width: 330px;
							margin: 0 auto;
							
						}
							.pg-inicial .conteudos .conteudo .post a:hover .imagem{
								border-color: #8ca7b6;
								transition:All .5s ease;
								-webkit-transition:All .5s ease;
								-moz-transition:All .5s ease;
								-o-transition:All .5s ease;
							}
							.pg-inicial .conteudos .conteudo .post a .imagem img{
								display: block;
  							    max-width: 330px;
    							width: 100%;
   							    height: auto;

							}
						.pg-inicial .conteudos .conteudo .post a .texto{
							padding: 0 20px;
						}
							.pg-inicial .conteudos .conteudo .post a .texto h2{
								margin: 0;
								color: #383333;
   								font-size: 20px;
   								font-weight: 600;
   								transition:All .5s ease;
   								-webkit-transition:All .5s ease;
   								-moz-transition:All .5s ease;
   								-o-transition:All .5s ease;

							}
								.pg-inicial .conteudos .conteudo .post a:hover h2{
									color: #8ca7b6;
									transition:All .5s ease;
									-webkit-transition:All .5s ease;
									-moz-transition:All .5s ease;
									-o-transition:All .5s ease;
								}
							.pg-inicial .conteudos .conteudo .post a .texto span{

								font-size: 11px;
    							color: #484f5c;

							}
							.pg-inicial .conteudos .conteudo .post a .texto p{
								margin: 0;
								font-size: 13px;
    							color: #484f5c;
    							margin-top: 12px;


							}

/* PÁGINA POST */
	.pg-post {

	}
		.pg-post .sessaoBannerDestaque{

		}
			.pg-post .sessaoBannerDestaque h6{

		}
			.pg-post .sessaoBannerDestaque .bannerDestaque{

		}
				.pg-post .sessaoBannerDestaque .bannerDestaque img{
					display: block;
					width: 100%;
					max-width: 100%;
   					max-height: 400px;

				}

		.pg-post .categoriasPesquisa{

	    }
	    	.pg-post .categoriasPesquisa a{
			
	   		}
	   			.pg-post .categoriasPesquisa a .menu{
			
	   			}
	   				.pg-post .categoriasPesquisa a .menu h6{
			
	   				}

		.pg-post .conteudos{
			margin-top: 55px;

	    }
	    	.pg-post .redesSociais{
		    margin-top: 72px;


	        }
	    		.pg-post .redesSociais a {
					
	   			}
	   				.pg-post .redesSociais a  .icone1{
					    width: 100%;
						background: #2e60ae;
						color: #fff;
						font-size: 39px;
						border-radius: 6px;
						max-width: 52px;
						min-height: 52px;
						text-align: right;
	   			}
						.pg-post .redesSociais a .icone1 i{
							margin-right: 10px;
	   					}

	   				.pg-post .redesSociais a .icone2{
	   		  		 	width: 100%;
						background: #127bb6;
						color: #fff;
						font-size: 35px;
						border-radius: 6px;
						max-width: 52px;
						min-height: 52px;
					    text-align: center;	
	   				}
	   				.pg-post .redesSociais a .icone2 i{

	   			}
	   			.pg-post .redesSociais .icone3{
						width: 100%;
						background: #e30613;
						color: #fff;
						font-size: 30px;
						border-radius: 6px;
						max-width: 52px;
						height: 52px;
					    text-align: center;
					    padding-top: 4px;
	
	   			}
	   				.pg-post .redesSociais .icone3 img{

	   			}

			.pg-post .conteudoDoPost{

	   	    }
	   	    	.pg-post .conteudoDoPost .menuPost{

	   	   		}
	   	   		.pg-post .conteudoDoPost .menuPost a{
	   	   			text-decoration: none;
					color: #bebebe;
					font-size: 15px;
	   	   		}
	   	   			.pg-post .conteudoDoPost .menuPost a i{
	   	   				margin: 0 5px;
	   	   			}
				.pg-post .conteudoDoPost .menuPost a p{
					color: #616161;
			    }
			    .pg-post .conteudoDoPost .menuPost i{
			    	margin: 0 5px;
			    }

	   	    	.pg-post .conteudoDoPost .post{
	   	    		margin-right: 80px;

	   	    	}
	   	    		.pg-post .conteudoDoPost .post .texto{

	   	    		}
	   	    			.pg-post .conteudoDoPost .post .texto .tituloPost{
	   	    				color: #333338;
	   	    				margin-bottom: 30px;

	   	    			}
	   	    				.pg-post .conteudoDoPost .post .texto .tituloPost h4{
	   	    					font-size: 30px;
	   	    					font-weight: 600;
								margin: 48px 0 26px 0;
	   	    				}
							.pg-post .conteudoDoPost .post .texto .tituloPost h5{
	   	    					font-size: 20px;
							    font-size: 20px;
							    font-weight: 500;
							    width: 100%;
							    max-width: 450px;
							    margin-bottom: 10px;

							}
							.pg-post .conteudoDoPost .post .texto .tituloPost span{

							}

					.pg-post .conteudoDoPost .post .texto p{


	   	    		}

	   	    	.pg-post .conteudoDoPost .post .compartilhar{
	   	    		    display: block;
   					    float: right;
   					    padding-right: 35px;
    					position: relative;


	   	    	}
	   	    		.pg-post .conteudoDoPost .post .compartilhar a{
	   	    			color: #606060;
	   	    			text-decoration: none;


	   	    		}	
	   	    			.pg-post .conteudoDoPost .post .compartilhar a p{
   						    font-size: 20px;
   						    margin: 0;

	   	    			}	
	   	    				.pg-post .conteudoDoPost .post .compartilhar a p span{
								font-weight: 600;
								text-transform: uppercase;
								color: #3e3e3e;
	   	    			    }
		   	    			    .pg-post .conteudoDoPost .post .compartilhar:hover p{
									color: #b6b6b6;
		   	    			    }
		   	    			    .pg-post .conteudoDoPost .post .compartilhar:hover span{
									
									color: #b6b6b6;
		   	    			    }

	   	    			.pg-post .conteudoDoPost .post .compartilhar a .icone{
	   	    				text-align: center;
							width: 100%;
							font-size: 14px;
							border: 1px solid #3e3e3e;
 							border-radius:30px;
							max-width:25px;
							min-height:25px;
							position: absolute;
    						top: 0;
    						right: 0;
						}
							.pg-post .conteudoDoPost .post .compartilhar:hover .icone{
								background: #3a579a;
								color: #fff;
								border-color: #3a579a;
							}

	   	    				.pg-post .conteudoDoPost .post .compartilhar a .icone i{
								margin: 5px;	   	    					
		   					} 
				.pg-post .btnCarrossel{
					margin-top: 100px;
					text-align: right;
				}
					.pg-post .btnCarrossel p{
						text-align:left;
						color: #737373;
						font-size: 20px;
					}
						.pg-post .btnCarrossel button{
							background: #f2f2f2;
							border: none;
							padding: 8px 10px;
							border-radius: 5px;
							color: #cacaca;
							font-size: 17px;
							margin-bottom: 20px;
						}
							.pg-post .btnCarrossel button:hover{
								background: #8fa9b7;
								outline: none;
							}
		   		.postSimilares{
		   			padding:0 20px;
		   		}
					.pg-post .conteudoDoPost .carrosselPostSimilares .item{
				    }

				    	.pg-post .conteudoDoPost .carrosselPostSimilares .item .post{
				    		display: block;
							width: 100%;
							min-height: 200px;
				    	
				    	}

				    		.pg-post .conteudoDoPost .carrosselPostSimilares .item .post a{
				    	
				    		}
				    			.pg-post .conteudoDoPost .carrosselPostSimilares .item .post a .imagem{
				    			
				    			}	
				    				.pg-post .conteudoDoPost .carrosselPostSimilares .item .post a .imagem img{
				    					display: block;
			    					    width: 100%;
			   							height: auto;

				    				}
				    			.pg-post .conteudoDoPost .carrosselPostSimilares .item .post a .texto{
				    	
				    			
				    			}
									.pg-post .conteudoDoPost .carrosselPostSimilares .item .post a .texto span{
					    				font-size: 10px;
    									color: #484f5c;

					    			}
					    			.pg-post .conteudoDoPost .carrosselPostSimilares .item .post a .texto p{
   										 margin: 12px 0;
										font-size: 13px;
		    							color: #484f5c;
					    			
					    			}
									

		.pg-post .conteudos .conteudoVejaTambem{
			margin-top: 100px;
		}
		   .pg-post .conteudos .conteudoVejaTambem .post{
				display: block;
				width: 100%;
				max-width: 248px;
				min-height: 60px;
   				border-color: rgba(165, 165, 165, 1);
   				margin-top: 10px;

			}			

				.pg-post .conteudos .conteudoVejaTambem h5{
					color: #383333;
   					font-size: 20px;
   					margin-left: 10px;
				}

					.pg-post .conteudos .conteudoVejaTambem .post a .imagem{
						margin: 10px 10px 10px 10px;


					}
						.pg-post .conteudos .conteudoVejaTambem .post a .imagem img{
							display: block;
  							max-width: 80px;
    					    width: 100%;
   							height: auto;


					    }

						 .pg-post .conteudos .conteudoVejaTambem .post a .texto{

						}
							.pg-post .conteudos .conteudoVejaTambem .post a .texto span{

								font-size: 10px;
    							color: #484f5c;

							}
							 .pg-post .conteudos .conteudoVejaTambem .post a .texto p{
								margin: 0;
								font-size: 11px;
    							color: #484f5c;


							}

	    .pg-post .conteudos .areaDeTags{
			margin-top: 30px; 
				
		}
			.pg-post .conteudos .areaDeTags  h6{
				font-size: 20px;
				color: #3e3e3e ;
				margin: 28px 0;
				
			}

			.pg-post .conteudos .tags a{
				    background: #f2f2f2;
				    color: #ada2a2;
				    font-size: 12px;
				    border-radius: 5px;
				    padding: 5px 10px;
				    display: inline-block;
    			    margin: 1px;
				    			
				    			
			}

		.pg-post .conteudos .voltar{
		    padding: 40px 0;

				
		}
			.pg-post .conteudos .voltar a{
			    color: #bdbdbd;
			    text-align: center;

							
		    }
			.pg-post .conteudos .voltar a .icone{				
				width: 100%;
			    background: #f2f2f2;
			    color: #e6e6e6;
			    font-size: 20px;
			    border-radius: 6px;
			    max-width: 27px;
			    min-height: 27px;	
			    margin: 0 auto;	
			    }
			    	.pg-post .conteudos .voltar:hover .icone{
			    		background: #7b9bab;
			    		color: #fff;
			    	}
			    	.pg-post .conteudos .voltar:hover p{
			    		color: #7b9bab;
			    	}
					.pg-post .conteudos .voltar a .icone i{

					}			
	
/* @MEDIA */
	@media(max-width: 1217px){
		.topo .border_bottom img {
		    bottom: -24px;
		}
		.topo .container{
		    width: 100%;
		    padding:0 10px;
		}
	}
	@media(max-width: 991px){
		.pg-post .redesSociais a {
		    display: inline-block;
		    width: 52px;
		    height: 53px;
		    vertical-align: top;
		}
		.pg-post .redesSociais {
		    margin-top: 0;
		    margin-bottom: 20px;
		}
		/* PÁGINA POST */
		.pg-post .conteudoDoPost {
		}
			.pg-post .conteudoDoPost .post {
			    margin-right: 0;
			    

			}
				.pg-post .conteudoDoPost .post .texto .tituloPost {
	   				 margin-bottom: 18px;
				}
					.pg-post .conteudoDoPost .post .texto .tituloPost h5 {
					    font-size: 17px;
					    font-weight: 500;
					    max-width: 685px;

					}		

		.pg-post .conteudos .conteudoVejaTambem{
			display: none;
		}
			.pg-post .conteudos .conteudoVejaTambem .post {
			    
			    max-width: 100%;
			    min-height: 60px;			    
			    margin: 0 auto;
			}
				.pg-post .conteudos .conteudoVejaTambem .post a .imagem img{
					margin:  0 auto;
				    max-width: 375px;

				}
				.pg-post .conteudos .conteudoVejaTambem .post a .texto {
					padding: 0px 50px;

				}
					.pg-post .conteudos .conteudoVejaTambem .post a .texto span {
					    font-size: 14px;
					}

					.pg-post .conteudos .conteudoVejaTambem .post a .texto p {
	    				font-size: 18px;
	    
					}

		.pg-post .conteudos .areaDeTags {
		    margin: 30px;
		    text-align: center;
		}

		/* PG */
		.pg .categoriasPesquisa .menu{
			text-align: center;
			padding: 0;
		}
		.pg .categoriasPesquisa {
		    padding: 20px 10px;
		}

		.pg .conteudos .praticasSucesso{
			    max-width: 93%;
			    margin-top:25px;
		}
		.pg-post .praticasSucesso{
			   display: none;
		}
			.pg .conteudos .praticasSucesso img {
			    max-width: 115px;
			    margin: 15px auto;
			}
			.pg .conteudos .praticasSucesso h6 {
			    font-size: 22px;
			}
			.pg .conteudos .praticasSucesso p{
				font-size: 13px;
			}
			.pg .conteudos .praticasSucesso a {
			    padding: 10px 16px;
			    font-size: 16px;
			}

		.pg-post .assinarBlog{
    			display: none;
		}
		.pg .conteudos .assinarBlog{
    			max-width: 93%;
		}
			.pg .conteudos .assinarBlog p {
			    font-size: 20px;
			}
			.pg .conteudos .assinarBlog .enviar{
				max-width: 600px;
			}
				.pg .conteudos .assinarBlog input[type="text"] {
				    width: 75%;
				    min-height: 40px;
				    
				}
				.pg .conteudos .assinarBlog input[type="submit"] {
				    width: 100%;
				    min-height: 40px;
				    max-width: 110px;
				    font-size: 17px;
				    margin: 12px 0 0 0;
				    float: none;				   
				}
		.pg .categoriasPesquisa .areaPesquisa {
		    float: initial;
		    margin: 20px auto 0;
		}
		.pg .categoriasPesquisa .menu .drop{
			left: 50%;
			transform: translateX(-50%);
		}
		.topo .contato{
			display: none;
		}
		.topo .navbar .navbar-header nav .navbar-nav{
			text-align: center;
			
		}
		.topo .logo {
		    margin-top: 10px;
		    padding-bottom: 10px;
		}
		.topo .border_bottom img {
		    bottom: -18px;
		}

	
	}
	@media(max-width: 768px){
		.pg-post .conteudos .voltar{
			display: none;
		}
		.topo .border_bottom img {
		    bottom: -14px;
		}
		.pg-post .conteudoDoPost .post .texto .tituloPost h4{
			font-size: 25px;
		}
		.pg-post .conteudoDoPost .post .compartilhar{
			margin-top: 40px;
		}
		/* PÁGINA POST */
		.pg-post .conteudoDoPost {
		    padding: 0px 10px;
		}
		.pg-post .conteudos .conteudoVejaTambem .post a .imagem img {
		    margin: 0 auto; 
		    max-width: 390px;
		    padding: 10px 20px 10px 20px;
		}
		.pg-inicial .conteudos .conteudo .post a .texto{
			
			padding: 50px 10px 20px;
		}

		/* PG */
		.pg .conteudos .praticasSucesso {		    
		    margin: 10px;
		}
		
		.pg .conteudos .assinarBlog{
			margin: 10px;

		}

		.pg .newsllater .noticia {
    		padding: 0px 20px;
        }
			.pg .newsllater .noticia .enviar {
		    }

					.pg .newsllater .noticia input[type="submit"] {	   
		   			    position: relative; 
		   			    float: right;
		                margin-top: 10px;
		                min-height: 40px;
    					max-width: 138px;
   
	                }

	     /* PG */          
		.pg-inicial .conteudos .conteudo .post{
			text-align: center;
			padding: 10px;
			max-width: 100%;
			
		}
		.pg-inicial .conteudos .conteudo .post a .imagem img{
			margin: 0 auto 0;
		}

	    /* FOOTER */         
		.rodape {
   		    background: #222222;
    		padding-top: 50px;
   		    position: relative;
		}
		.pg .conteudos .assinarBlog .iconeSubmit i{
			display: none;
		}
		.pg .newsllater .noticia h5{
			font-size: 28px;
		}
		.rodape .segueRedes {
		    position: inherit;
		    bottom: inherit;
		    right: inherit;
		    text-align: center;
		    padding: 10px;
		}
		.rodape .segueRedes p{
			display: block;
		}
		.hiddenConteudo{
			display: none!important;
		}
		.topo .navbar button{
			display: block;
		}
		.topo .navbar .navbar-header nav .navbar-nav>li {
			float: inherit;
			display: block;
			text-align: left;
		}
		.pg-post .redesSociais{
			text-align: center;
		}
	}
	@media(max-width: 550px){
		.topo .border_bottom img {
		    display: none;
		}
	}